.blog-list a{
    text-decoration: none;
    color: black;
}

.details-content{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    border-radius: 5px;
    min-height: calc(100vh - 10%);
}

.blog-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 1rem;
}

.blog-item:hover {
    transform: scale(1.01);
}

.img {
    max-width: 150px;
    min-height: 150px;

}

.img img {
    width: 100%;
    height: 100%;
}

.content {
    padding-left: 15px;
}

h2 {
    font-size: 18px;
}

.content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-content {}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: -1rem;
}

.pagination{
    margin-top: 1rem;
}

.sider {
    max-height: calc(100vh - 50px);
    width: 350px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 1rem;
    position: fixed;
    overflow-y: scroll;
    top: 100px;
    bottom: 160px;
}

.sider::-webkit-scrollbar {
    width: 5px;
}

.sider::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.sider::-webkit-scrollbar-thumb {
    background: #888;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.search-box button {
    border: 2px solid #33C5FF;
    background-color: #33C5FF;
    border-radius: 5px;
}

.leasted-wrapper h2{
    margin-top: 10px;
}


.least-post {
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    border-radius: 5px;
    padding: 10px;
}


.least-post a {
    text-decoration: none;
    color: black;
}

.least-post:hover {
    transform: scale(1.01);
}

.sider-post-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* background-color: rgba(0, 0, 0, 0.); */
    /* position: absolute; */
    bottom: 0;
    padding-left: 5px;
    padding-right: 5px;

}



h4 {

    /* color: #ffffff; */
    font-size: 15px;
}

.navbar{
    height: 50px;
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.search{
    position: relative;
}

.search>i{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.search>input{
    width: 500px;
    height: 35px;
    border-radius: 1rem;
}

.auth>a{
    padding-right: 10px;
    text-decoration: none;
}

.footer{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}
