

/* Css for slider */
.header{
    margin-top: 2rem;
}

h2{
    color: rgb(35, 35, 201);
    font-weight: 550;
}

/* .slider{

} */

.slider-item{
    margin: 2px 10px 2px 0px;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-item a{
    text-decoration: none;
    color: black;
}

.slider-item:hover{
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.slider-item-body{
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
}

/* Css for body */

body{
    font-family: sans-serif;
    background-color: #f7f9fa;
}

/* Css for course */

.course-item{
    padding: 0;
    margin-right: 10px;
    margin-bottom: 10px;
}

.course-item:hover{
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    

}

.course-item a{
    text-decoration: none;
}

.course-card-body{
    position: absolute;
    bottom: 36px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 10px 0px 5px 10px;
    width: 100%;
}

h6{
    font-size: 18px;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.show-more-btn{
    margin-bottom: 2rem;
}

/* Css for Blog */

.blog-card-body{
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 5px 5px 0px 10px;
    width: 100%;
    /* display: flex;
    justify-content: space-between; */
}

.blog-item{
    padding: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
      
}

.blog-item:hover{
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    

}

.blog-item a{
    text-decoration: none;
}
.img-warper{
    display: flex;
    justify-content: center;
    max-width: 300px;
    max-height: 300px;
}

.img-warper>img{
    /*width: auto;*/
    max-height: 300px;
    max-width: 300px
        
}

.date-update{
    font-size: 12px;

}

footer{
    background-color: black;
    color: white;
    height: 8rem;
}

.slider-next, .slider-previous{
    font-size: 36px;
    position: absolute;
    z-index: 2;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    cursor: pointer;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.slider-next{
    top: 50%;
    right: -10px;
}

.slider-previous{
    top: 50%;
    left: -15px;
}

.slider-next:hover, .slider-previous:hover{
    transform: scale(1.05);
    background-color: rgb(21, 147, 220);
}

.overflow-auto{
    height: 51.5%;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
}

.combo_head{
    height: 780px;
    margin-top: 50px;
}

.card-body {
    flex: 1 1 auto;
    padding: 1px 1px;
}

.tagline{
    background-color: #0a53be;
    color: #ffffff;
    border-radius: 17px;
    font-size: 15px;
}



